:host {
  background: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
  margin-top: 10px;
  padding: 24px;
}
.profile-form {
  display: flex;
  gap: 20px;
}
