:host {
  background: var(--dark-color);
  border: 2px solid var(--light-color);
  padding: 20px;
  display: grid;
  grid-template-columns: 44px 1fr;
  gap: 16px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}
